/* CUSTOM VARS */

/*
Color palette:
https://coolors.co/ff9f1c-ffbf69-ffffff-cbf3f0-2ec4b6
*/

:root {
    --primary: #ff9f1c;
    --secondary: #ffbf69;
    --special: #cbf3f0;
    --primaryFontColor: #ffffff;
    --primaryFont: 'Tajawal', sans-serif;
    --secondaryFont: 'Lato', sans-serif;
}

main {
    background-color: var(--primary);
}

div.push-down {
    padding-top: 300px;
}

button {
    width: 300px;
}

main.parallax {
    background-image: url(../img/pexels-jeswin-thomas-5292918.jpg);

    height: 700px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.parallax {
    background-image: url(../img/pexels-stokpic-5317.jpg);

    height: 700px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h3 {
    font-family: var(--primaryFont);
}

p {
    font-family: var(--secondaryFont);
    font-size: 18px;
}

section {
    background-color: var(--secondary);
    height: 800px;
}

img {
    /* Original size: 3652 x 5494 */
    width: 152px;
    height: 594px;
}

footer {
    background-color: var(--special);
    height: 100px;
}

i.fab {
    font-size: 30px;
}