/* CUSTOM VARS */

/*
Color palette:
https://coolors.co/ff9f1c-ffbf69-ffffff-cbf3f0-2ec4b6
*/

:root {
    --primary: #ff9f1c;
    --secondary: #ffbf69;
    --special1: #cbf3f0;
    --special2: #2ec4b6;
    --primaryFontColor: #ffffff;
    --primaryFont: 'Tajawal', sans-serif;
    --secondaryFont: 'Lato', sans-serif;
}

main h1, main h3 {
    color: var(--primaryFontColor);
}

div.push-down {
    padding-top: 250px;
}

div.roundBG1 {
    opacity: 0.9;
    padding: 50px;
    background-color: var(--special2);
    border-radius: 50px;
}

a.btn, button.btn {
    background-color: var(--primary);
}

main.parallax {
    background-image: url(../img/pexels-jeswin-thomas-5292918.jpg);

    height: 800px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.parallax {
    background-image: url(../img/pexels-stokpic-5317.jpg);

    height: 700px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h3 {
    font-family: var(--primaryFont);
}

p {
    font-family: var(--secondaryFont);
    font-size: 18px;
}

section {
    background-color: var(--secondary);
    height: 800px;
}

img {
    /* Original size: 3652 x 5494 */
    width: 152px;
    height: 594px;
}

form {
    color: var(--primaryFontColor);
}

form.roundBG2 {
    opacity: 0.9;
    padding: 50px;
    background-color: var(--special2);
    border-radius: 50px;
}

footer {
    background-color: var(--special1);
    height: 100px;
}

i.fab {
    font-size: 30px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    p {
        font-size: 12px;
    }
    img {
        height: 250px;
    }
    section#about {
        height: 1000px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    p {
        font-size: 14px;
    }
    img {
        height: 300px;
    }
    section#about {
        height: 1000px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    p {
        font-size: 16px;
    }
    img {
        height: 400px;
    }
    section#about {
        height: 850px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}